<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKn8JnICSw9f5PHmuhnZxveghm02Kxbiw</string>
	<key>GCM_SENDER_ID</key>
	<string>367947652892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.monitoring</string>
	<key>PROJECT_ID</key>
	<string>data-mo</string>
	<key>STORAGE_BUCKET</key>
	<string>data-mo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367947652892:ios:c09e3e72b25e1cd30064d9</string>
	<key>DATABASE_URL</key>
	<string>https://data-mo-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>